body {
  margin: 0;
}

label {
  margin-right: 0.5em;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 42px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: relative;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;this.root.offset({top:pageY, left:pageX});
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.navbar-nav.navbar-right li a {
  padding-top:10px;
  padding-bottom:10px;
}

.ebook-authors {
  font-style: italic;
}

.ebook-detail {
  margin: 5px;
  background-color:lightgrey;
  padding: 5px;
  height: 150px;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.ebook-title {
  font-weight: bold;
}

.pager-spinner {
   margin-left:auto;
   margin-right:auto;
   width:1em;
   display:block;
   margin-top: -3.5em;

}

.pager i.fa {
  font-size: 130%;
}

.sorter-label i{
  font-size:150%;
}

.sorter {
    display:inline;
    font-size:70%;
    margin-left: 1em;
  }

.sorter select {
  position:relative;
  top:-5px;
}

.ebook-properties {
  margin-top: 10px;
}

.source-action {
  margin-left:10px;
  font-size:1.3em;
}

.notifications-btn {
  font-size: 3em;
  margin-top: 38px;
}

.uploading-progress {
  font-size: 2em;
}

.drawer-nav li {
  border-bottom: solid 1px grey;
}

.notification.status {
  height: 3em;
}

.notification.status span.success {
  color: green;
  font-weight: bold;
}

.notification.status span.error {
  color: red;
  font-weight: bold;
}

.drawer-heading {
  height: 51px;
}

.ebook-cover-big {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.ebook-cover-big img{
  width: 320px;
}

.page-host-overfloable {
    position: relative;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
}

.autocomplete-container {
  /* width: 305px; */
  display: inline-block;
}

.secondary-input {
  width: 280px;
  border: 1px dashed grey;
  border-radius: 4px;
  padding: 6px 12px;
}

.secondary-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.edit-list {
  margin: 0px 10px 10px;
}

.form-group i {
  vertical-align: middle;
  cursor: pointer;
}

.form-group label {
  display: block;
}

.composed-control label{
  font-weight: normal;
  display: inline;
}

.composed-control input{
  width:90%;
  display: inline-block;
}

.composed-control .autocomplete-container {
  width:90%;
}

.page-title .actions {

  opacity: 0;
  transition: opacity 2s ease-out;
}

.page-title:hover > .actions {
  opacity: 1;

}

.drawer-controls.notifications-btn {
  height:70px;
  /* margin-top: 0; */
}

.notifications-btn i {
 text-shadow: 3px 3px 3px #555;
}

ai-dialog-overlay.active {
  background-color: black;
  opacity: 0.5 !important;
}

.ebook-meta .ebook-authors {
  display: inline;
}

.onpage-search .input-group {
  width: 100%;
}

.ebook-detail .ebook-cover {
  float:left;
  /* background-color:white; */
  width: 100px;
  height: 140px;
  margin-right: 10px;
}

.ebook-details {
  width: calc(100% - 335px);
  float: left;
  min-width: 320px;
}

.ebook-panel {
  margin: 10px 0px;
}

.ebook-cover.missing{
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAACMCAMAAAC9K/yJAAAA+VBMVEXKysqzs7Pc3Nzz8/P5+fnQ0NCtra3t7e25ubni4uK+vr7o6OjExMTW1tbS0tLIyMjg4ODCwsLe3t719fWxsbHNzc2vr6/39/fZ2dm1tbXGxsbb29vk5OTLy8vx8fH7+/vs7Ozw8PDU1NTm5ubq6urv7++7u7u9vb3+/v6/v7+6urrDw8Pl5eXh4eHY2Nipqam3t7fV1dW4uLjAwMDn5+fPz8/u7u7BwcHr6+v6+vrOzs6oqKirq6v9/f34+Pi8vLyqqqra2trR0dGsrKzp6enX19f8/Pz09PTj4+P29vbFxcXMzMyysrLHx8fJycny8vK0tLT///+np6dlj6GFAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AgbDxUSoqj6HAAAA69JREFUaN7tm2lv1DAQhse3nWR7LNBCDygCcbWFIoEoVQUIqQghIWr//x+Dx85mKde2G89+8nxJskn8rMfj16NoDH4FBhVSIauAbPO3NpS1v/fk1uM7m4SQELbgwgy0+7vAKCBotz/e3Zv3aw+eUkAGu7fPxQAzG6ApIIPZs9Pt2TPSfN75RAFJoB0uh24d8M5SQGam7euNLwOt3X9HAUn2AtyvQficUUAGa3aP5oHoXj4hgczsZJPfmgfidN1SQJJ1Z6f+z6YKQ4ZAXF8BBBuukJIQB5YeEo+MHhKCVOQQHTxC2K/LhygNkcLFg/KyIYSEYETqjAJsXrZXIZqxIpDYZmrVdx1eeYiXnYQku5KDkrYAhMkeAhyPHC99m+5K7AZbRFkIUUaYJjiD95sEYX7+VvZbCgo9esYzAUy50PgMEbNBccMTRprxsqJTrsAEY9LhILkrYaYl+o4HGfuDHtR6lHZ1OOBdbCpRZv8efEby+INEnMIZbPvJtbxA5uhyVyEWBSL9ERXPnBdFVNga0Yo4T1V0Jo5YxzgLMdMU3DWDM8dL/cQ5loKZpXBw0Vs8sBjtEI+l15MG8szBltvsTk66aDEe066xED1ZmA9hwI+DsLSQMSBd45k3q4CgHidIFnoPFBCceRGiWoUxq7wihKBkNTy03nckkCABQq8mZO4KTtBCsjpaSJKFJBLIYEqm5I8WEjQ0gRxSdDLqdgUQ6ekhrNVRU+GK67XUrCiENzi7U0qEH6RygmC0LwnhvsVEJAHaYIWayHjaBX+tHPyaEExHLVIkZkG+/0ngmRIxS9UDhC8NYelV36Bg+R4y6SHeKRk1cjzE9rMbRwVynhBUhnAcHhUhUqmYNI+A9NFk+pzR4urR9pB0J0JSXpQhrMiM74z3vbuaJjspuUvpeKZawIWslKyk6BKCgeghXRchvmOpT8W0C9BVXk4iBLMkjj3xMiapkkQgOxbXYI6Ok6QqnESHY9j9FmQUUt8vZPVT1Mogj6Chh/jjg/wl9gK26CCX2Q4nxx/wqfdmzZ5TQdBOztzD3C2+84oKMtjh2tEzTw1Bq5AKqZAKqZAKqZAKqZAKqZAKqZBlIQfHQA4JDeT6qh/t2ncyCNol9EV+b6bfnlBB5p+5+iK/B18VHWRm5+tTQw6pn6IqpEIIIcUKxf8PKVQovhhSoFD8psX7SxWKL7tD4EaF4mO3IVyrULzIXodFheJlN1T8o1C8/K6NvxSKE24NmReKr2D/iZnW7ToVMrOftizFjczX8AMAAAAASUVORK5CYII=')
}

.ebook-cover.missing img {
  display:none;
}

.converted-sources-item {
  font-weight: bold;
  margin-right: 0.5em;
}

@keyframes blink {
  0% {opacity: 1}
  50% {opacity: 0.5}
  100% {opacity: 1}
}

.attention {
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

.ebook-actions {
  font-size: 200%;
}

.button-after {
  margin-left: 10px;
}
.navbar-form {
  display: inline-block;
} 

