bcrypt==3.1.1
blinker==1.4
Flask==0.11.1
Flask-Login==0.3.2
flask-marshmallow==0.7.0
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
marshmallow==2.10.3
marshmallow-sqlalchemy==0.12.0
psycopg2==2.7.5
requests==2.11.1
SQLAlchemy==1.3.0
SQLAlchemy-Utils==0.32.9
PyJWT==1.4.2
aiopg==0.12.0
filelock==2.0.6
simplejson==3.10.0
git+https://github.com/izderadicka/asexor.git

#indirect dependencies that must be pinned
Werkzeug==0.11.11

