<template>
  <require from="./autocomplete.css"></require>
  <div class="autocomplete-container">
    <input class="autocomplete-input ${additionalClass}" autocomplete="off" value.bind="value & debounce:850" blur.trigger="hideSuggestions()"
    keydown.delegate="keyPressed($event)" placeholder.bind="placeholder">
    <div class="autocomplete-suggestion" style="display:none">
      <div class="list-group">
        <a data-index="${$index}" class="list-group-item ${$index == _selected ? 'active' : ''}" repeat.for="item of _suggestions" mousedown.delegate="itemSelected($event)">
          <span if.bind="! suggestionTemplate">${item}</span>
          <compose if.bind="suggestionTemplate" view.bind="suggestionTemplate" view-model.bind="item"></compose>
        </a>
      </div>
    </div>
  </div>
</template>
