<template>
  <div class="btn-group">
    <button type="button" class="btn btn-lg btn-primary" click.delegate="showAddToShelf()"><i class="fa fa-plus" aria-hidden="true"></i> Add To Shelf </button>
    <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</template>
