<template>

    <div id="drawer-notifications" class="drawer drawer-right dw-xs-10 dw-sm-6 dw-md-4 fold" aria-labelledby="drawer-notifications">
        <div class="drawer-controls notifications-btn" css="display:${notif.empty?'none':'block'}">
            <a href="#drawer-notifications" data-toggle="drawer" aria-foldedopen="false"
            aria-controls="drawer-notifications" click.delegate="drawerMove()">
            <i id="drawer-icon" class="fa fa-comment ${attention?'attention':''}" aria-hidden="true"></i></a>
        </div>
        <div class="drawer-contents">
            <div class="drawer-heading">
                <h2 class="drawer-title">Notifications
                  <div class="action-btn-right">
                  <a href="#" click.delegate="clearFinished()" title="Delete all finished notifications">
                    <i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>
                </h2>


            </div>

            <ul class="drawer-nav">
                <li repeat.for="n of notif.items & throttle" role="presentation">
                <!--<a data-toggle="drawer" data-target="#drawer-notifications" href="#">${n.text}</a> -->
                <compose model.bind="n" view-model="components/notification-${n.task}"></compose>

              </li>

            </ul>

        </div>
    </div>
</template>
