<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{url_for('static', filename='entireframework.min.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {%block extra_head%}{%endblock%}
  </head>
  <body>
  <nav class="nav" tabindex="-1" onclick="this.focus()">
			<div class="container">
				<a class="pagename current" href="/">MyBookshelf2</a>
				 {% if current_user.is_authenticated %}
				<a href="/search">Search</a>
				<a href="/logoff">Log Out</a> 
				 {% else %}
				<a href="/login">Login</a>
				{%endif%}
			</div>
		</nav>
		<button class="btn-close btn btn-sm">×</button>
    <div class="container" id="main">
    {% block content %}{% endblock %}
    </div>
  </body>
</html>