{% extends "base.html" %}
{%block title%}Login{%endblock%}
{% block content %}
<h1>Please Login</h1>
<div class="login-form">
{% for message in get_flashed_messages() %}
    <div class="msg warning">{{ message }}</div>
  {% endfor %}
 {% if current_user.is_authenticated %}
 <p> You are already logged in, <a href="{{url_for('access.logoff')}}">log off</a>.</p>
 {%else%}
 <form action="{{ url_for('access.login')}}" method="POST" enctype="multipart/form-data">
 <div>
 <label for="username_id">User Name:</label><input class="smooth narrow" type="text" name="username" id="username_id"
 value="{{username}}"/>
 </div>
 <div>
 <label for="password_id">Password:</label><input class="smooth narrow" type="password" name="password" id="password_id"/>
 </div>
 <div>
 <input class="btn btn-a smooth" type="submit" value="Log In"/>
 </div>
 </form>
 {%endif%}
 </div>
 {%endblock%}